@tailwind base;
@tailwind components;
@tailwind utilities;
// Plugins
//----------------------------------
@import '../../../node_modules/toastr/toastr';
// Base Components
//----------------------------------
@import 'components/v-tooltips.scss';
// Components
//----------------------------------
@import 'components/pace-loader';
@import 'components/animation';
.swal-icon--custom {
    height: 80px;
    width: 80px;
}

.texto-customer {
    max-width: 480px;
}

@media (max-width: 768px) {
    .table-component .sw-dropdown {
        position: absolute;
        visibility: visible;
        top: 15px;
        right: 10px;
    }
    // Titulo de customer
    .texto-customer {
        max-width: 225px;
    }
    // agrandar espacio de tabla
    .table-component td:first-child {
        height: 100px !important;
    }
    // permite dvidir texto sin romper tablas
    .boxtext {
        inline-size: 150px;
        overflow-wrap: break-word;
    }
    .table-wrapper {
        overflow-x: auto; //allows the div to scroll horizontally only when the div overflows.
        overflow-y: hidden; //does not allow for the div to scroll vertically
    }
}

.sw-scroll::-webkit-scrollbar {
    width: 8px;
}